<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="icon" href="../images/MongoDB_Logo2.png" type="image/x-icon">
    <title>API RESTFUL - MONGODB</title>
</head>
<body>
    <div class="navbar">
        <a  href="index.html">
            <img src="../images/MongoDB_Logo.png" alt="Logo" >
        </a>
        <a class="navbar-link" href="AddUsuario.html">Adicionar Usuário</a>
        <a class="navbar-link" href="AddProduto.html">Adicionar Produto</a>
      </div>
    

      <div class="container">
        <div class="box">
            <h2>Produtos</h2>
            <table >
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Quantidade em Estoque</th>
                <th>ID do Usuário</th>
                <th>Nome do Usuário</th>
                <th>Criado em</th>
                <th>Alterar</th>
                <th>Deletar</th>
            </tr>
            </thead>
            <tbody id="tabelaProdutos">

            </tbody>            
            </thead>
            </table>

        </div>
    </div>
      
<script src="../script/script.js"></script>
</body>
</html>